<div class="col-xs-12 comment-indent">
    <h1>{{quiz.name}}</h1>
    <p>{{quiz.summary}}</p>
    <a href="/users/:{{this.author.username}}">
        <p class="text-right">{{quiz.author.username}}</p>
    </a>
    <a href="/topics/{{topicTitle}}/quizzes/{{quiz.name}}/question/new">New Question</a>
    {{!-- <a href="/topics/{{../topic.title}}/quizzes/{{this.name}}/questions/new">New Question</a> --}}
    {{#each quiz.questions}}
        {{> quiz quiz=this topicTitle=../topicTitle}}
    {{/each}}
</div>
